$screen-xs-max: 576px;
$screen-sm-max: 768px;
$screen-md-max: 992px;
$screen-lg-max: 1200px;

$screen-xs-min: 0;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$container-xs-width: 100%;
$container-sm-width: 540px;
$container-md-width: 720px;
$container-lg-width: 960px;
$container-xl-width: 1140px;

$padding-5: 5px;
$padding-15: 15px;
$padding-40: 40px;
$padding-60: 60px;

/* COLORS */
$color-blue: #002e8f;
$color-grey: #e6e5e9;


