@import "../styles/index";

.bold {
  font-weight: bold;
}

.textAlignRight {
  text-align: right;
}

.textAlignCenter {
  text-align: center;
}

.fontSize13 {
  font-size: 13px;
}

.fontSize14 {
  font-size: 14px;
}

.fontSize16 {
  font-size: 16px;
}

.fontSize18 {
  font-size: 18px;
}

.fontSize20 {
  font-size: 20px;
}

.fontSize24 {
  font-size: 24px;
}

.fontSize28 {
  font-size: 28px;
}

.fontSize36 {
  font-size: 36px;
}
